<div class="panel">
    <div class="panel-content" *ngIf="producto != null">
        <div class="titulo" *ngIf="producto.tipo_producto == 1"><h1>{{'FRUTA'|translate}}</h1></div>
        <div class="titulo" *ngIf="producto.tipo_producto == 2"><h1>{{'VERDURA'|translate}}</h1></div>
        
        <div class="producto">
            <div class="imgProducto">
                <img [src]="'assets/img/productos/' + producto.img" alt="">
            </div> 
            <div class="info">
                <div><h2>{{producto.nombre_producto}}</h2></div>
                <div><h3>{{producto.precio}} €/Kg</h3></div><br>
                <div *ngIf="producto.marca != null"><h3>{{'MARCA'|translate}} : {{producto.marca}}</h3></div>
                <div *ngIf="producto.origen != null"><h3>{{'ORIGEN'|translate}} : {{producto.origen}}</h3></div>
                <div *ngIf="producto.familia != null"><h3>{{'FAMILIA'|translate}} : {{producto.familia}}</h3></div>
                <br>
                <div class="moreLessBtnSection">
                    <h3><button id="less" class="btnMoreLess" (click)="changeProductUnits('-',$event)">-</button>
                    {{cantidadProducto}}
                    <button class="btnMoreLess" (click)="changeProductUnits('+',$event)">+</button></h3>
                </div>

                <div class="anyadir">
                    <button class="botonAnyadir" *ngIf="estaCarrito == false" (click)="anyadirProductoCarrito()"><h4>{{'AÑADIR AL CARRITO'|translate}}</h4></button>
                    <button class="botonEliminar" *ngIf="estaCarrito == true" (click)="quitarCarrito()"><h4>{{'ELIMINAR'|translate}}</h4></button>
                </div>
            </div>
        </div>
        
        
        <div class="titulo2"><h1>{{'DESCRIPCION'|translate}}</h1></div>
        <div class="descripcion">{{producto.descripcion}}</div>
        <div class="titulo2"><h1>{{'PRODUCTOS RELACIONADOS'|translate}}</h1></div>
        <div class="relacionados">
            <div class="nuevosCarousel"><vendido-component></vendido-component></div>
        </div>
        


    </div>
  </div>