
h1{
    color: white;
}

.titulo{
    background-color: #00471F;
}

.titulo2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00471F;
    width: 80%;
    height: 70px;
    padding-top: 5px;
}

.descripcion{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f3cf;
    width: 90%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 130%;
    font-family: textile;
}

.relacionados{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f3cf;
    width: 90%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.nuevosCarousel{
    width: 90%;
    margin-top:20px;
    margin-bottom:20px;
}

.producto{
    display: flex;
    flex-direction: row;
    width: 90%;
    /*background-color: #9dceb1;
    border: 2px solid  #00471F;*/
    margin-top: 20px;
    margin-bottom: 20px;
    
    align-items: center;
    justify-content: center;
}

.imgProducto{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #f7f3cf;
    /*border: 1px solid black;*/
}

.imgProducto img{
    width: 100%;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
    width: 45%;
    height: 100%;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    margin-left: 5%;
    font-family: textile;
}


.btnMoreLess{
    background-color: #FFB400;
    padding-right:14px;
    padding-left: 14px;
    border-radius: 15px;
    margin-left: 5px;
    font-size: 30px;
}

.anyadir{
    display: flex;
    align-items: center;
    height: 95px;
}

.botonAnyadir{
    background-color: #FFB400;
    padding-top:14px;
    padding-bottom:7px;
    padding-left:20px;
    padding-right:20px;
    border-radius: 15px;
    width: 70%;
}

.botonEliminar{
    background-color: rgb(133, 0, 0);
    padding-top:14px;
    padding-bottom:7px;
    padding-left:20px;
    padding-right:20px;
    border-radius: 15px;
    width: 70%;
}