.footer{
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    background-color: #00471F;
    bottom: 0;
    margin-top:50px;
}

.enlaces{
    margin-top:55px;
    width: 310px;
    padding-left: 20px;
    padding-bottom: 55px;
}

.info{
    margin-top:55px;
    width: 310px;
    padding-right: 20px;
}

a{
    text-decoration: none;
    color:white;
}

h4{
    color:#FFB400;
    margin-bottom:5px;
    margin-top:0;
} 

.title{
    color:#FFB400; 
}

p,span{
    color:white;
}

.end{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #042211;
    color: white;
    position: relative;
}

.end p{
    font-family: inherit;
    margin-top: 10px;
    text-align: center;
}

.content{
    display: flex;
    flex-direction: column;
}

@media (max-width:400px){

    .footer{
        flex-direction: column;
    }
    .info{
        padding-left: 20px;
    }

    .enlaces{
        padding-bottom: 0;
    }

    .info{
        width: 95%;
        margin-bottom: 40px;
    }

}