<footer> 
    <div class="footer">
        <div class="enlaces">
            <h4>{{ 'QUICK' | translate }}</h4>
            <p><a routerLink="/home">{{ 'HOME' | translate }}</a></p>
            <p><a routerLink="/login">{{ 'LOGIN' | translate }}</a></p>
            <p><a routerLink="/registro">{{ 'SIGN IN' | translate }}</a></p>
            <p><a routerLink="/productos">{{ 'PRODUCTS' | translate }}</a></p>
            <p><a routerLink="/questions">{{ 'QUESTIONS' | translate }}</a></p>
        </div>
        <div class="info">
            <h4>{{ 'CONTACT' | translate }}</h4>
            <p class="title">{{ 'ADDRESS' | translate }}: <br><span>P.I Camp-llong <br>Carrer Vallfogona naus 46-47 nº 111-113</span></p>
            <p class="title">{{ 'EMAIL' | translate }}: <br><span>viellaverdfruit@gmail.com</span></p>
            <p class="title">{{ 'PHONE' | translate }}: <br><span>973 478 954</span></p>
        </div>
    </div>
    <div class="end"><p>COPYRIGHT © 2020 VERDFRUIT {{'DRETSRESERVATS'|translate}}</p></div>
</footer>  