<footer> 
    <div class="footer">
        <div class="enlaces">
            <h4>{{ 'QUICK' | translate }}</h4>
            <p><a routerLink="/home">{{ 'HOME' | translate }}</a></p>
            <p><a routerLink="/login">{{ 'LOGIN' | translate }}</a></p>
            <p><a routerLink="/registro">{{ 'SIGN IN' | translate }}</a></p>
        </div>
        <div class="info">
            <h4>{{ 'CONTACT' | translate }}</h4>
            <p class="title">{{ 'ADDRESS' | translate }}: <span>Josep Llimona nº 30</span></p>
            <p class="title">{{ 'EMAIL' | translate }}: <span>regormar@hotmail.com</span></p>
            <p class="title">{{ 'PHONE' | translate }}: <span>666840208</span></p>
        </div>
    </div>
    <div class="end"><p>COPYRIGHT © 2020 VERDFRUIT {{'DRETSRESERVATS'|translate}}</p></div>
</footer>  