  <owl-carousel-o [options]="customOptions" >

    <ng-container *ngFor="let prod of productos">
      <ng-template carouselSlide [id]="prod.id_producto">
        <div class="producto">
            <div class="imgProducto">
                <img [src]="'assets/img/productos/' + prod.img" alt="">
            </div> 
            <div class="info">
                <div class="nombrePrecio">
                    <div><h6>{{prod.nombre_producto}}</h6></div>
                    <div><h6>{{prod.precio}}€</h6></div>
                </div>
            </div>
            <div class="tramitar">
                <button class="botonTramitar" routerLink="/producto/{{prod.id_producto}}"><h6>{{'MASINFO'|translate}}</h6></button>
            </div>
        </div>
      </ng-template>
    </ng-container>

  </owl-carousel-o>

<ng-container *ngIf="productos.length == 0">
    <div class="loadingio-spinner-spinner-eisrfab08z5"><div class="ldio-psmvmn9klxg confHeight">
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</ng-container>




