<form #formRegistroUsuario="ngForm" (ngSubmit)="registrarUsuario();formRegistroUsuario.reset()">
    <div class="form-panel">
        <div class="flex-col">           
            <p>{{ 'USERNAME' | translate }}: </p>           
            <input #inputUsername="ngModel" type="text" [(ngModel)]="username" name="username" pattern="^(?=[a-zA-Z0-9._]{8,20}$)(?!.*[_.]{2})[^_.].*[^_.]$" required/>
            <span class="text-danger"></span>
        </div>
        <div class="flex-col">           
            <p>{{ 'NAME' | translate }}:</p>            
            <input #inputNombre="ngModel" type="text" [(ngModel)]="nombre" name="nombre" required/>
            <span class="text-danger"></span>
        </div>  
        <div class="flex-col">         
            <p>{{ 'SURNAMES' | translate }}:</p>
            <input #inputApellidos="ngModel" type="text" [(ngModel)]="apellidos" name="apellidos" required/>
            <span class="text-danger"></span>
        </div>  
        <div class="flex-col">
            <p>{{ 'EMAIL' | translate }}:</p>
            <input #inputEmail="ngModel" type="email" [(ngModel)]="email" name="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" required/>
            <span class="text-danger"></span>
        </div>
        <div class="flex-col">
            <p>{{ 'PASSWORD' | translate }}:</p>
            <input #inputPass="ngModel" type="password" [(ngModel)]="pass" name="pass" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="{{'PASSREQUIREMENTS'|translate}}" required/>
            <span class="text-danger"></span>
        </div>   
        <div class="flex-col">
            <p>{{ 'VERIFICATION' | translate }}:</p>
            <input #inputVerification="ngModel" type="password" [(ngModel)]="verification" name="verification" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required/>
            <span class="text-danger"></span>
        </div>  
        <div class="flex-col">
            <p>{{ 'ADDRESS' | translate }}:</p>
            <input #inputDireccion="ngModel" type="text" [(ngModel)]="direccion" name="direccion" pattern="" required/>
            <span class="text-danger"></span>
        </div>  
        <div class="flex-col">
            <p>{{ 'PHONE' | translate }}:</p>
            <input #inputTelefono="ngModel" type="text" [(ngModel)]="telefono" name="telefono" pattern="[0-9]{9}" required/>
            <span class="text-danger"></span>            
        </div>  
        <div class="flex-col">
            <p>DNI:</p>
            <input #inputDni="ngModel" type="text" [(ngModel)]="dni" name="dni" pattern="[0-9]{8}[A-Za-z]{1}" required/>
            <span class="text-danger"></span>
        </div> 
    </div>
    <div class="policyButton">
        <div class="flex-row">
            <div>
                <input #inputPrivacy="ngModel" [(ngModel)]="privacy" type="checkbox" name="privacy" required>
            </div>
            <div class="texto">
                <p> {{'ACCEPTTHEPRIVACYPOLICY'|translate}}</p>
            </div>
        </div>
        <button class="send" type="submit" [disabled]="!formRegistroUsuario.form.valid">Enviar</button>
    </div> 
    <div class="added">{{resultado}}</div>                       
</form>