<div class="panel">
    <div class="panel-content">
        <div class="titulo"><h1>{{ 'QUESTIONS' | translate }}</h1></div><br>

        <div class="pregunta" ><h2>{{ 'QUESTION1' | translate }}</h2></div>
        <div class="respuesta"><p></p><p>{{ 'ANSWER1.1' | translate }}</p></div><br>

        <div class="pregunta" ><h2>{{ 'QUESTION2' | translate }}</h2></div>
        <div class="respuesta">
            <p></p>
            <p>{{ 'ANSWER2.1' | translate }}<br>
                {{ 'ANSWER2.2' | translate }}<br>
                {{ 'ANSWER2.3' | translate }}<br>
                {{ 'ANSWER2.4' | translate }}<br>
                {{ 'ANSWER2.5' | translate }}<br>
                {{ 'ANSWER2.6' | translate }}<br>
            </p>
        </div><br>

        <div class="pregunta" ><h2>{{ 'QUESTION3' | translate }}</h2></div>
        <div class="respuesta">
            <p></p>
            <p>{{ 'ANSWER3.1' | translate }}<br><br>
                {{ 'ANSWER3.2' | translate }}<br>
                {{ 'ANSWER3.3' | translate }}<br>
                {{ 'ANSWER3.4' | translate }}<br>
                {{ 'ANSWER3.5' | translate }}<br><br>
                {{ 'ANSWER3.6' | translate }}<br><br>
                {{ 'ANSWER3.7' | translate }}<br>
            </p>
        </div><br>
        
        <div class="pregunta" ><h2>{{ 'QUESTION4' | translate }}</h2></div>
        <div class="respuesta">
            <p></p>
            <p>{{ 'ANSWER4.1' | translate }}<br>
                {{ 'ANSWER4.2' | translate }}<br>
                {{ 'ANSWER4.3' | translate }}<br>
                {{ 'ANSWER4.4' | translate }}<br>
            </p>
        </div><br>

        <div class="pregunta" ><h2>{{ 'QUESTION5' | translate }}</h2></div>
        <div class="respuesta"><p></p><p>{{ 'ANSWER5.1' | translate }}</p> </div><br>
        
        <div class="pregunta" ><h2>{{ 'QUESTION6' | translate }}</h2></div>
        <div class="respuesta">
            <p></p>
            <p>{{ 'ANSWER6.1' | translate }}<br><br>
                {{ 'ANSWER6.2' | translate }}<br>
                {{ 'ANSWER6.3' | translate }}<br>
                {{ 'ANSWER6.4' | translate }}<br>
            </p>
        </div><br>
    </div>
</div>