<div class="panel">
  <div class="panel-content">
    <div class="top">
      <div class="topImg">
        <img src="assets/img/banner2.jpg" alt="">
      </div>
      <div class="topText"></div>
      <div class="topText2">
        <h3>{{'FRUTERIAONLINE'|translate}}</h3>
        <h3>{{'TUFRUTAYVERDURA'|translate}}</h3>
      </div>
    </div>
    <div class="titulo"><h1>{{'MASVENDIDO'|translate}}</h1></div>
    <div class="nuevosCarousel"><vendido-component></vendido-component></div>
    <div class="titulo"><h1>{{'NUEVOS'|translate}}</h1></div>
    <div class="nuevosCarousel"><nuevos-component></nuevos-component></div>
  </div>
</div>