<div class="panel">
    <div class="panel-content">
        <div class="titulo"><h1>{{ 'SIGN IN' | translate }}</h1></div>
        <div class="menu">
            <a href="javascript:void(0)" class="tipoRegistro" id="particular" (click)="changeRegister('particular')">{{ 'PARTICULAR' | translate }}</a>
            <a href="javascript:void(0)" class="tipoRegistro" id="business" (click)="changeRegister('business')">{{ 'BUSINESS' | translate }}</a>
        </div>
        <div *ngIf="opcion=='particular'" class="userType">
            <registroParticular-component></registroParticular-component>
        </div>
        <div *ngIf="opcion=='business'" class="userType">
            <registroEmpresa-component></registroEmpresa-component>
        </div>
    </div>
</div>

