.boton{
    display: flex;
    justify-content: flex-end;
}

.logInf{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: flex-end;
    align-items:center;
}

.check{
    margin-right: 5px;
}

.errorButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.mensaje{
    color: red;
}


input.ng-dirty.ng-invalid{
    border:solid 1px red;
}

.send{
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width:600px){

    .errorButton{
        flex-direction: column;
    }

    .boton{
        width: 100%;
    }

}