
.boton{
    display: flex;
    justify-content: flex-end;
}

.remember{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: textile;
    font-size:13px;
}

.check{
    margin-right: 5px;
}

.errorButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.mensaje{
    color: red;
}
