<div class="content">
    <div class="banner">
        <div class="banner-right">
            <div class="divLogo"><a routerLink="/login"><img class="logo" src="assets/img/logoVF.png" alt=""></a></div>
            <div class="banner-options">
                <div class="lang">
                    <select #langSelect  [(ngModel)]="lg" (change)="changeLang(langSelect.value)">
                        <option *ngFor="let lang of langs" [value]="lang">{{lang}}</option>
                    </select>
                </div>
                <div class="responsiveMenu">
                    <div class="menuIcon" (click)="chargeMenu()">
                        <i class="fas fa-bars"></i>
                    </div>
                    <ul class="menu" id="menu">  
                        <div class="borderMenu"><h4>{{'MENU'|translate}}</h4></div>             
                        <li class="espaciado"><a routerLink="/home" routerLinkActive="activo" (click)="closeMenu()">{{ 'HOME' | translate }}</a></li>
                        <li class="espaciado"><a routerLink="/questions" routerLinkActive="activo" (click)="closeMenu()">{{ 'QUESTIONS' | translate }}</a></li>
                        <li class="espaciado"><a routerLink="/login" routerLinkActive="activo" (click)="closeMenu()">{{ 'LOGIN' | translate }}</a></li>
                        <li class="espaciado"><a routerLink="/registro" routerLinkActive="activo" (click)="closeMenu()">{{ 'SIGN IN' | translate }}</a></li>
                    </ul>  
                </div>               
            </div>
        </div>
    </div>
</div> 
