<div class="content" #content>
    <div class="banner">
        <div class="banner-right">
            <div class="divLogo"><a routerLink="/home"><img class="logo" src="assets/img/logoVF.png" alt=""></a></div>
            <div class="banner-options">
                <div class="lang">
                    <select #langSelect  [(ngModel)]="lg" (change)="changeLang(langSelect.value)">
                        <option *ngFor="let lang of langs" [value]="lang">{{lang}}</option>
                    </select>
                </div>
                <div class="allMenu">
                    <div class="responsiveMenu">
                        <div class="menuIcon">
                            <a href="javascript:void(0)" (click)="chargeMenu()"><i class="fas fa-bars"></i></a>
                        </div>
                        <ul class="menu" id="menu" (mouseleave)="closeMenu2()">
                            <div class="borderMenu"><h4>{{'MENU'|translate}}</h4></div>             
                            <li class="espaciado"><a routerLink="/home" routerLinkActive="activo" (click)="closeMenu3()">{{ 'HOME' | translate }}</a></li>
                            <li class="espaciado"><a routerLink="/productos" routerLinkActive="activo" (click)="closeMenu3()">{{ 'PRODUCTS' | translate }}</a></li>
                            <li class="espaciado"><a routerLink="/questions" routerLinkActive="activo" (click)="closeMenu3()">{{ 'QUESTIONS' | translate }}</a></li>
                        </ul>  
                    </div> 
                    <div class="menuUsuario">
                        <a href="javascript:void(0)" (click)="closeMenuOnOpen()"><i *ngIf="menu == true" class="fas fa-user"></i></a>
                        <a *ngIf="menu == false" routerLink="cuenta" routerLinkActive="activo" (click)="closeCart()"><i class="fas fa-user"></i></a>                 
                    </div>
                    <div *ngIf="menu == false">
                        <a href="javascript:void(0)" (click)="cartMenu()"><i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>             
            </div>
        </div>
    </div>
    <div class="centrar" id="centrar">
        <ul class="usuario" id="usuario" (mouseleave)="closeMenuOnOpen()"> 
            <div class="borderMenu menuOpen"><h4>{{'IDENTIFY'|translate}}</h4></div> 
            <li class="espaciadoActivo"><a class="identA" routerLink="/login" routerLinkActive="active" (click)="userMenu('none', true, '-1')">{{ 'LOGIN' | translate }}</a></li>
            <li class="espaciadoActivo"><a class="identA" routerLink="/registro" routerLinkActive="active" (click)="userMenu('none', true, '-1')">{{ 'SIGN IN' | translate }}</a></li>
        </ul>
    </div>
    <div class="centrar2" id="centrar2">
        <carro-component *ngIf="menu == false"></carro-component>
    </div>

</div> 

