.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.centrar{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 70%;
    position:absolute;
    height: 216px;
    z-index: -1;
    height: 0;
    margin-top: 590px;
}

.centrar2{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 70%;
    position:absolute;
    height: 216px;
    z-index: 1;
    height: 0;
    margin-top: 158px;
}

ul{
    padding-left: 20px;
}

li{
    list-style:none; 
}

.logo{
    width: 250px;
}

h4{
    color: white;
}

.divLogo{
    display: flex;
    align-items: center;
}

.banner{
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: center;
    justify-content: center;
}

.allMenu{
    display: flex;
    flex-direction: row;
    margin-top:15px;
    z-index: 5;
}

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.usuario{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    background-color:white;
    width: 300px;
    height: 200px;
    padding-top: 20px;
    margin-top: 13px;
    align-items: center;
    padding: 0;
    border-bottom: 20px solid #00471F;
    border-left: 1px solid #00471F;
    border-right: 1px solid #00471F;
    padding-bottom: 20px;
    margin-left: 222px;
}

.menu{
    height: 43px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.menuUsuario{
    padding-left: 25px;
    padding-right: 15px;
}

.borderMenu{
    width:0;
    height:0;
    background-color: #00471F;
    margin:0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuOpen{
    width:100%;
    height: 50px;
    visibility: visible;
}


.espaciado{
    margin-left:30px;
    display: flex;
    text-align: center;
}

.espaciadoActivo{
    width: 80%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    background-color: #FFB400;
    margin-top: 5px;
}

a{
    text-decoration: none;
    color: #00471F;
    font-family: textile;
}

a.identA{
    color:black;
}
a.identA:hover{
    color:#00471F;
}
a.active{
    color:#00471F;
}

h1{
    color: #00471F;
    font-family: textile;
}

.option{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 150px;
}

a:hover{
    color:#FFB400;
}

.lang{
    display: flex;
    justify-content: flex-end;  
    margin-top: 20px;
}
.lang select{
    height: 40px;
    width: 50px;
    border: 2px solid #00471F;
    color:#00471F;
    background-color: #d9ebe0;
}

.banner-right{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-top:25px;
}

.banner-options{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.activo{
    color:#FFB400;
}

.responsiveMenu{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.fa-bars{
    color: #00471F;
    font-size: 30px;
}
.fa-bars:hover{
    color: #FFB400;
}

.menuIcon{
    visibility: hidden;
    width: 30px;
    height: 30px;
}

.fa-user{
    font-size:28px;
    color:#00471F;
    padding-top:10px;
}
.fa-user:hover{
    color:#FFB400;
}

.fa-shopping-cart{
    font-size:28px;
    color:#00471F;
    padding-top:10px;
    padding-left: 8px;
    padding-right: 15px;
}
.fa-shopping-cart:hover{
    color:#FFB400;
}

.shop{
    display: inline-block;
}

@media (max-width:1236px){
    
    .fa-user{
        padding-top:0;
    }

    .fa-shopping-cart{
        padding-top:0;
    }

    .menu{        
        display: none;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        background-color:white;
        width: 250px;
        height: 250px;
        padding-top: 20px;
        margin-top: 35px;
        margin-left: 30.3%;
        align-items: center;
        padding: 0;
        border-bottom: 20px solid #00471F;
        border-left: 1px solid #00471F;
        border-right: 1px solid #00471F;
        padding-bottom: 20px;
    }
    .menu a{
        margin:0;
    }

    .menuIcon{
        visibility: visible;
    }
    
    .responsiveMenu{
        width: 100%;
        height: 30px;
    }
    
    .espaciado{
        width: 80%;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0;
        background-color: #FFB400;
        margin-top: 5px;
    }

    a{
        color:black;
    }

    a:hover{
        color:#00471F;
    }

    .activo{
        color:#00471F;
    }

    .borderMenu{
        width:101%;
        height:50px;
        visibility: visible;
    }

    .centrar{
        margin-top: 567px;
    }

    .centrar2{
        margin-top: 135px;
    }
}

@media (max-width:600px){

    .menu{        
        margin-top: 37px;
        width: 266px;
    }

    .logo{
        width: 100%;
    }

    .divLogo{
        width: 100%;
    }

    .divLogo a{
        width: 100%;
    }

    .banner-right{
        flex-direction: column;
    }

    .banner-options{
        flex-direction: row;
    }

    .allMenu{
        width: 100%;
    }

    .lang{
        margin-top: 15px;
    }

    .lang select{
        height: 30px;
        width: 45px;
    }

    .menuCarro{
        margin-top: 75px;
    }

    .centrar2{
        width: 100%;
    }

    .content{
        padding: 8px;
    }

    .banner{
        width: 100%;
    }

    .espaciado{
        height: 45px;
        margin-top: 12px;
    }

    .usuario{
        width: 224px;
    }

    .centrar{
        width:92%;
    }

    .content{
        /* background-color: #609272; */
    }

}

@media (max-width:400px){
    .menu{        
        margin-top: 37px;
        width: 175px;
    }
}

@media (max-width:320px){

    .lang{
        width: 0;
        height: 0;
        visibility: hidden;
    }

}
