<div class="panel">
    <div class="panel-content">
        <div class="titulo"><h1>{{ 'CHANGEPASSWORD' | translate }}</h1></div>
            <form #formChangePassword="ngForm" (ngSubmit)="changePassword()">
                <div class="form-panel">
                    <div class="flex-col">
                        <p>{{ 'PASSWORD' | translate }}:</p>
                        <input #inputPass="ngModel" type="password" [(ngModel)]="pass" name="pass" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="{{'PASSREQUIREMENTS'|translate}}" required/>
                        <span class="text-danger"></span>
                    </div>   
                    <div class="flex-col">
                        <p>{{ 'VERIFICATION' | translate }}:</p>
                        <input #inputVerification="ngModel" type="password" [(ngModel)]="verification" name="verification" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required/>
                        <span class="text-danger"></span>
                    </div>  
                </div>
                <div class="policyButton">
                    <button class="send" type="submit" [disabled]="!formChangePassword.form.valid || pass != verification">Enviar</button>
                </div>                      
            </form>
    </div>
</div>