<div class="panel">
    <div class="panel-content">
        <div class="titulo"><h1>Recuperar contraseña</h1></div>
        <form #formLoginUsuario="ngForm" (ngSubmit)="sendEmail();" >
            <div class="form-panel">
                <div class="flex-col">
                    <div>
                        <p>{{ 'EMAIL' | translate }}</p>
                    </div>
                    <div>
                        <input #inputUsername="ngModel" type="text" [(ngModel)]="email" name="email" placeholder="{{ 'PHEMAIL' | translate}}" required/>
                    </div>
                </div>               
            </div>
            <div class="mensaje">{{mensaje}}</div>
            <div class="error">{{error}}</div>
            <div class="errorButton">
                
                <div class="boton"><button class="send" type="submit" [disabled]="!formLoginUsuario.form.valid">{{ 'SEND' | translate }}</button> </div>   
            </div>              
        </form>
    </div>
</div>