.panel{
    margin-bottom: 300px;
}

.flex-col{
    margin-bottom: 20px;
}

.boton{
    display: flex;
    justify-content: flex-end;
}

.errorButton{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 70px;
}

.mensaje{
    color: green;
}

.error{
    color:red;
}
input[type=email]{
    width: 100%;
}
