
@font-face {
    font-family: textile;
    src: url(assets/fonts/Textile.ttf) format("truetype");
}

body {
    margin: 0;
    padding: 0;
    background: rgb(0,71,31);
    background: linear-gradient(90deg, rgba(0,71,31,1) 0%, rgba(68,122,91,1) 0%, rgba(221,255,216,1) 22%, rgba(212,247,209,1) 72%, rgba(68,122,91,1) 100%, rgba(0,71,31,1) 100%);
}

h1,h2,h3,h4,h5,h6{
    font-family: textile;
}

a{
    text-decoration: none;
}

form{
    width:70%;
}

h1{
    color: #00471F;
}

.send{
    color:#00471F;
    font-family: textile;
    background-color: #FFB400;
    border-radius: 10px; 
    padding:0 10px 0 10px;
}

button:disabled,
button[disabled]{
    color:#3c7555;
    background-color: #b89544;
}

.imgInput{
    display: flex;
    align-items: center;
    height: 30px;
}

.imgInput i{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #FFB400;
    width: 30px;
    border: solid 1px black;
}

.info{
    height: 30px;
}
 .nombrePrecio{
     height: 100%;
 }

/* INICIO Y CARRITO */
/*-----------------------------------------------------------------------------------------*/
.tramitar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95px;
}

.botonTramitar{
    background-color: #FFB400;
    padding-top:10px;
    padding-left:20px;
    padding-right:20px;
    border-radius: 15px;
    width: 60%;
}

/* REGISTRO USUARIOS */
/*-----------------------------------------------------------------------------------------*/
.panel{
    position: relative;
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 240px;
    z-index:0;
}

.panel-content{
    display: flex;
    width:70%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom:solid 3px #00471F;
} 

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#FFB400;
    width: 100%;
    height: 70px;
    padding-top: 5px;
}

.form-panel{
    width:100%;
    margin-top: 30px;
}

.flex-col{
    display:flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 10px;
    width: 100%;
}

input[type=text],input[type=password],input[type=email]{
    width: 100%;
    padding-left: 10px;

}

p{
    font-family: textile;
    font-size: 13px;
}

.forgorPass{
    color:#FFB400;
    font-family: textile;
}

.policyButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.texto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left:5px;
}

.added{
    color:green;
    margin-bottom: 20px;
    font-size: 20px;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    display: flex;
    align-items: center;
    content: attr(data-title);
    background-color: #FFB400;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    top: 100%;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    font-size: 0.7em;
    text-align: left;
    width: 200px;
    height: 80px;
}
[data-title]{
    position: relative;
    font-family: textile;
    font-size: 16px;
}


/* RESPONSIVE-------------------------------------------------------------------------------- */

@media (max-width:600px){
    
    .panel-content{
        width:100%;
    }

    .botonTramitar h5{
        font-size: 85%;
    }

    .nombrePrecio div h6{
        font-size: 85%;
    }

}