<div class="menuCarro inactive" id="cartMenu">
    <div class="titleCarro"><h1>{{'CART'|translate}}</h1></div>
    <div class="content">
        <div class="product">
            <div class="productImg"><img src="assets/img/productos/manzana.png" alt=""></div>
            <div class="info">
                <div class="total">
                    <div><h6>Mandarina:</h6></div>
                    <div><h6>{{total}}€</h6></div>
                </div>
                <div class="line2"><hr></div>
                <div class="total2">
                    <div>
                        <div class="ts13">En carro:</div>
                        <div class="ts18">1ud.</div>
                    </div>
                    <div class="moreLessBtnSection">
                        <button class="btnMoreLess">-</button>
                        <button class="btnMoreLess">+</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="productImg"><img src="assets/img/productos/manzana.png" alt=""></div>
            <div class="info">
                <div class="total">
                    <div><h6>Mandarina:</h6></div>
                    <div><h6>{{total}}€</h6></div>
                </div>
                <div class="line2"><hr></div>
                <div class="total2">
                    <div>
                        <div class="ts13">En carro:</div>
                        <div class="ts18">1ud.</div>
                    </div>
                    <div class="moreLessBtnSection">
                        <button class="btnMoreLess">-</button>
                        <button class="btnMoreLess">+</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="productImg"><img src="assets/img/productos/manzana.png" alt=""></div>
            <div class="info">
                <div class="total">
                    <div><h6>Mandarina:</h6></div>
                    <div><h6>{{total}}€</h6></div>
                </div>
                <div class="line2"><hr></div>
                <div class="total2">
                    <div>
                        <div class="ts13">En carro:</div>
                        <div class="ts18">1ud.</div>
                    </div>
                    <div class="moreLessBtnSection">
                        <button class="btnMoreLess">-</button>
                        <button class="btnMoreLess">+</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="productImg"><img src="assets/img/productos/manzana.png" alt=""></div>
            <div class="info">
                <div class="total">
                    <div><h6>Mandarina:</h6></div>
                    <div><h6>{{total}}€</h6></div>
                </div>
                <div class="line2"><hr></div>
                <div class="total2">
                    <div>
                        <div class="ts13">En carro:</div>
                        <div class="ts18">1ud.</div>
                    </div>
                    <div class="moreLessBtnSection">
                        <button class="btnMoreLess">-</button>
                        <button class="btnMoreLess">+</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="product">
            <div class="productImg"><img src="assets/img/productos/manzana.png" alt=""></div>
            <div class="info">
                <div class="total">
                    <div><h6>Mandarina:</h6></div>
                    <div><h6>{{total}}€</h6></div>
                </div>
                <div class="line2"><hr></div>
                <div class="total2">
                    <div>
                        <div class="ts13">En carro:</div>
                        <div class="ts18">1ud.</div>
                    </div>
                    <div class="moreLessBtnSection">
                        <button class="btnMoreLess">-</button>
                        <button class="btnMoreLess">+</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="bottomCarro">
        <div class="line"><hr></div>
        <div class="total">
            <div><h6>{{'CARTTOTAL'|translate}}:</h6></div>
            <div><h6>{{total}}€</h6></div>
        </div>
        <div class="tramitar">
            <button class="botonTramitar"><h4>{{'CHECKOUT'|translate}}</h4></button>
        </div>
    </div>
</div>
